NEXT_PUBLIC_SITE_URL=https://getkhafeefa.shop
NEXT_PUBLIC_API_BASE_URL=https://getkhafeefa-backend.amt9aa.easypanel.host

# Add only your browser pixel IDs here.
NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_TIKTOK_PIXEL_ID=
NEXT_PUBLIC_SNAP_PIXEL_ID=

NEXT_PUBLIC_ENABLE_PIXELS=true
NEXT_PUBLIC_ENVIRONMENT=production
