POSTGRES_USER=getkhafeefa
POSTGRES_PASSWORD=getkhafeefa
POSTGRES_DB=getkhafeefa
DATABASE_URL=postgres://getkhafeefa:getkhafeefa@khafeefa_database:5432/getkhafeefa?sslmode=disable

# Add only your browser pixel IDs here.
NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_TIKTOK_PIXEL_ID=
NEXT_PUBLIC_SNAP_PIXEL_ID=
NEXT_PUBLIC_ENABLE_PIXELS=true
